/* Pallette adapted from Color Hunt https://colorhunt.co/palette/a79277d1bb9eead8c0fff2e1 
#A79277
#D1BB9E
#EAD8C0
#FFF2E1
*/

* {
    background-color: #FFE9CC;
    color: #102C57;
}

.title {
    background-color: #102C57;
    color: #FFE9CC;
    text-shadow: -1px 1px 1px #940404,
        1px 1px 1px #940404,
        1px -1px 1px #940404,
        -1px -1px 1px #940404;
    text-align: center;
    padding: .35em;
    margin: 0;
    font-size: 2.5em;
}

#question-asker-button {
    border: 3px solid #102C57;
    border-radius: 5px;
    cursor: pointer;
    visibility: hidden;
}

.question-area {
    display: flex;
    flex-direction: column;
}

#question-asker {
    width: 75%;
    height: 55px;
    font-size: 25px;
    margin: 5px;
    padding: 5px;
}

.mistake-area {
    display: flex;
    width: fit-content;
    gap: 2px;
    padding: 5px;
}

.mistake-imagery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    color: #940404;
    border: 7px solid #940404;
    border-radius: 25%;
    visibility: hidden;
}

.president-area {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

#game-over-notice {
    position: fixed;
    display: flex;
    height: 100px;
    width: 300px;
    align-items: center;
    justify-content: center;
    justify-self: center;
    border: 5px solid #940404;
    border-radius: 10px;
    z-index: 1;
    visibility: hidden;
}

#answer-notification-box {
    position: fixed;
    display: flex;
    height: 100px;
    width: 500px;
    align-items: center;
    justify-content: center;
    justify-self: center;
    border: 5px solid #102C57;
    border-radius: 10px;
    z-index: 1;
    visibility: hidden;
}

#pres-button-area {
    background-color: #102C57;
    color: #FFE9CC;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(9, 5.5em);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 1em;
    align-items: center;
    border-radius: 0 10px 10px 0;
}

.pres-button {
    height: 5em;
    width: 5em;
    border: 3px solid #FFE9CC;
    border-radius: 10%;
    box-shadow: 2px 2px #94918e;
    cursor: pointer;
}

.pres-button:active {
    text-shadow: .4px .4px .75px #940404;
    transform: translate(1px);
}

#pres-name-area {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

#pres-name-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #102C57;
    color: #FFE9CC;
    border: .25em solid #FFE9CC;
    border-radius: 5px;
    height: 1.5em;
    width: 10em;
    padding: .5em;
    font-size: 2em;
}

#mode-game {
    display: block;
}

#mode-info {
    display: none;
}

.portrait {
    height: 5em;
    width: 5em;
    border-radius: 5%;
    filter: sepia(100%);
    user-select: none;
    -webkit-user-select: none;
}

.portrait:hover {
    filter: sepia(100%) opacity(75%) brightness(.75);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8em;
    margin-bottom: .25em;
}

.profile-pic {
    width: 3em;
    height: 3em;
}

/*tablet query*/
@media only screen and (min-width: 768px) {

    .president-area {
        background-color: #940404;
        display: flex;
        flex-direction: row;
    }

    #pres-name-area {
        /* width: 832px; */
        width: 100%;
        height: auto;
        background: repeating-linear-gradient(#940404,
                #940404 9.5%,
                #FFE9CC 9.5%,
                #FFE9CC 18.1%);
    }

    footer {
        flex-direction: row;
        margin-top: 1.25em;
        font-size: .9em;
    }

    .profile-pic {
        width: 3.5em;
        height: 3.5em;
    }
}

/*desktop query*/
@media only screen and (min-width: 992px) {
    footer {
        font-size: 1em;
    }

    .profile-pic {
        width: 3.75em;
        height: 3.75em;
    }
}